fastapi==0.115.0
uvicorn[standard]==0.30.6


tensorflow==2.16.1
keras==3.3.3

numpy==1.26.4
opencv-python-headless==4.10.0.84
pillow==10.4.0

python-multipart==0.0.9
pydantic==2.9.2

pennylane==0.37.0
autoray==0.6.11

h5py==3.11.0

gunicorn
google-cloud-storage